@font-face {
     font-family: 'StateFaceRegular';
     src: url('/fonts/stateface/stateface-regular-webfont.eot');
     src: url('/fonts/stateface/stateface-regular-webfont.eot?#iefix') format('embedded-opentype'),
          url('/fonts/stateface/stateface-regular-webfont.woff') format('woff'),
          url('/fonts/stateface/stateface-regular-webfont.ttf') format('truetype'),
          url('/fonts/stateface/stateface-regular-webfont.svg#StateFaceRegular') format('svg');
     font-weight: normal;
     font-style: normal;
 }


body {
  font-family: 'Merriweather', serif;
  font-size: 16px;
  line-height: 1.5em;
  padding: 0.25em;
}

main {
  padding: 1em;
  max-width: 620px;
  margin-left: auto;
  margin-right: auto;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Shrikhand', serif;
  margin: 0.75em 0;
}

.light {
  opacity: 0.5;
}

h1 {
  font-size: 2.4em;
  line-height: 1.4em;
  margin-bottom: 0.25em;
}
h2 {
  font-size: 1.7em;
  line-height: 1.3em;
  margin-bottom: 0.25em;
}
h3 {
  line-height: 1.2em;
  margin-bottom: 12px;
}

.home {
  text-align: center;
  margin: 0;
  padding: 0;
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
}
.home:hover {
  opacity: 1;
}
.home h4 {
  margin: 0;
  padding: 0;
}
.home a:link, .home a:hover, .home a:visited {
  color: #999;
}

.latest-post {
  font-weight: bold;
  text-align: center;
  margin: 1.8em 0;
}

.topbar {
  width: 100%;
  text-align: center;
  margin: 2em 0;
}
.topbar h1 {
  padding: 0.5em;
  line-height: 1.2em;
  margin-bottom: 0;
  padding-bottom: 8px;
}
.topbar h3 {
  font-family: 'Merriweather', serif;
  margin: 0;
}

.post-list {
  list-style: none;
  padding: 0;
  font-size: 1.6em;
}

.post-list li {
  margin-bottom: 0.8em;
}

.post-list li h5 {
  margin: 0;
}

@media (max-width: 600px) {
  .postlist-location{
    display: none;
  }
}


.story-header {
  width: 100%;
  height: auto;
}
.story-header h1 {
  margin-top: 14px;
}
.story-header img {
  width: 100%;
  height: auto;
}

.location-map {
  width: 100%;
  height: 260px;
  max-width: 920px;
}

.map-container {
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
}

.map-stop { display: none; }

.map-marker {
  width: 16px;
  height: 16px;
  background-color: rgba(20,19,23,0.35);
  border-radius: 16px;
}

.PageNavigation {
  display: block;
  margin-bottom: 0.5em;
  width: 100%;
  height: 48px;
}

.PageNavigation a {
  display: block;
  width: 50%;
  /*border: 1px solid black;*/
  float: left;
  text-align: center;
  padding: 1em;
  color: black;
  margin-bottom: 12px;
  opacity: 0.3;
  transition: all 0.2s ease-in-out;
}
.PageNavigation a:hover {
  opacity: 1;
}
.PageNavigation .prev {
  /*border-right: 1px solid #CCC;*/
}
.PageNavigation .next {
  float: right;
  /*border-left: 1px solid #CCC;*/
}

.content {
  margin: 2.2em 0;
  margin-top: 0;
}

.content .page-title {
  color: #CCC;
  font-family: 'Merriweather', serif;
  font-size: 2.5em;
  font-weight: 400;
  line-height: 1.3em;
  text-align: center;
  margin: 1.4em 0;
}

.content .pullquote {
  line-height: 1.4em;
  margin: 1em 0;
}

@media (max-width: 600px) {
  .content p{
    text-align: justify;
    text-justify: inter-word;
  }
}

.content h1, .content h2 {
  line-height: 1.1em;
}

.content img {
  width: 100%;
  height: auto;
}

small a, small a:visited, small a:hover {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.story__body { 
  padding-top: 24px;
}

footer {
  max-width: 620px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}








































.stateface:before {
    font-family: StateFaceRegular;
    margin-right: 5px;
}

.stateface-replace {
    text-indent: -999em;
    display: inline-block;
    position: relative;
    min-width: 1em;
}

.stateface-replace:before {
    position: absolute;
    left: 0;
    top: 0;
    text-indent: 0;
}

.stateface-ak:before {
    content: "A";
}

.stateface-al:before {
    content: "B";
}

.stateface-ar:before {
    content: "C";
}

.stateface-az:before {
    content: "D";
}

.stateface-ca:before {
    content: "E";
}

.stateface-co:before {
    content: "F";
}

.stateface-ct:before {
    content: "G";
}

.stateface-dc:before {
    content: "y";
}

.stateface-de:before {
    content: "H";
}

.stateface-fl:before {
    content: "I";
}

.stateface-ga:before {
    content: "J";
}

.stateface-hi:before {
    content: "K";
}

.stateface-ia:before {
    content: "L";
}

.stateface-id:before {
    content: "M";
}

.stateface-il:before {
    content: "N";
}

.stateface-in:before {
    content: "O";
}

.stateface-ks:before {
    content: "P";
}

.stateface-ky:before {
    content: "Q";
}

.stateface-la:before {
    content: "R";
}

.stateface-ma:before {
    content: "S";
}

.stateface-md:before {
    content: "T";
}

.stateface-me:before {
    content: "U";
}

.stateface-mi:before {
    content: "V";
}

.stateface-mn:before {
    content: "W";
}

.stateface-mo:before {
    content: "X";
}

.stateface-ms:before {
    content: "Y";
}

.stateface-mt:before {
    content: "Z";
}

.stateface-nc:before {
    content: "a";
}

.stateface-nd:before {
    content: "b";
}

.stateface-ne:before {
    content: "c";
}

.stateface-nh:before {
    content: "d";
}

.stateface-nj:before {
    content: "e";
}

.stateface-nm:before {
    content: "f";
}

.stateface-nv:before {
    content: "g";
}

.stateface-ny:before {
    content: "h";
}

.stateface-oh:before {
    content: "i";
}

.stateface-ok:before {
    content: "j";
}

.stateface-or:before {
    content: "k";
}

.stateface-pa:before {
    content: "l";
}

.stateface-ri:before {
    content: "m";
}

.stateface-sc:before {
    content: "n";
}

.stateface-sd:before {
    content: "o";
}

.stateface-tn:before {
    content: "p";
}

.stateface-tx:before {
    content: "q";
}

.stateface-us:before {
    content: "z";
}

.stateface-ut:before {
    content: "r";
}

.stateface-va:before {
    content: "s";
}

.stateface-vt:before {
    content: "t";
}

.stateface-wa:before {
    content: "u";
}

.stateface-wi:before {
    content: "v";
}

.stateface-wv:before {
    content: "w";
}

.stateface-wy:before {
    content: "x";
}

/*********